@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

.App {
  text-align: center;
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  color: white;
}

li, a {
  list-style-type: none;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li {
  color: goldenrod;
}
input {
  outline: none;
  border: none;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 10px;
}

button {
  cursor: pointer;
}

.h1 {
  color: #61dafb;
  font-size: 30px;
}

h2 {
  text-align: start;
  font-weight: bolder;
  color: rgb(243, 134, 9);
  padding: 10px 20px;
}

.container-cards {
  margin: 0;
  padding: 0;
  display: flex;
  overflow: scroll;
  overflow-x: scroll;
  /* overflow-x: hidde; */
  /* background: linear-gradient(0deg, rgba(0,0, 0,0.383820564516129) 14%, rgba(0,0,0,0.3) 39%) , url('./../../assets/Images/background-img.jpeg');
  background-size: cover;
  background-position: center, center, center; */
  /* z-index: 1; */
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  height: 5px;
  background: transparent;  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, rgba(0,0, 0,0.383820564516129) 14%, rgba(0,0,0,0.3) 39%);
  opacity: 0.5;
}
