.container-sign {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(0,0, 0,0.383820564516129) 14%, rgba(0,0,0,0.3) 39%), url('./../../assets/Images/background-img.jpeg');
    
}

.row-sign {
    min-width: 50%;
    min-height: 50%;
    background-color:white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    
}

.btn-switch {
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid #FF0000;
    color: black;
    min-width: 50%;
    height: 2rem;
    padding: 5px;
}

.row-btn {
    display: flex;
    justify-content: center;
}