.header {
    width: 100%;
    min-height: 25vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgba(34, 34, 34, 0.972) 5%, rgba(55, 53, 124, 0.2), #222 95%);
    z-index: 1;
}

.video {
    top: 50%;
    left: 50%;
    min-width: 100%;
    width: auto;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}