.container-movie-detail {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.movie-detail-img {
  width: 50%;
  height: 50%;
  border-radius: 5px;
  padding-bottom: 20px;
}

.row-movie-detail {
  position: absolute;
  top: calc(25% - 10px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  padding: 0 20px;
  order: 1;
}

.row-img {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.img-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.row-description {
  display: flex;
  justify-content: end;
  width: 90%;
}

.card-title {
  color: rgb(241, 142, 12);
  padding-bottom: 20px;
  
}

.row-info {
  position: relative;
  top: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.row-info > ul {
  text-align: center;
}

.row-description > a {
  margin-top: 10px;
  color: #FF0000;
}