.container-movie {
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

.row-video {
  position: absolute;
  top: calc(20% - 20px);
  display: flex;
  justify-content: space-around;
  padding: 0 30px; 
}

.row-video-frame {
  width: 40%;
  padding: 10px;
}

.video-frame-detail-page {
  width: 100%;
  height: 250px;
}

p {
  line-height: 25px;
  font-size: large;
  padding-top: 20px;
  text-align: justify;
}
 a {
  color: #FF0000;
}

.movie-title {
  color: rgb(241, 142, 12);
  padding-bottom: 20px;
  font-size: 45px;
}
.section-description {
  width: 50%;
  padding: 10px;
}
.movie-description {
  padding-top: 10px;
}

.movie-detail-img {
  width: 40%;
  height: auto;
  border-radius: 5px;
  padding-bottom: 20px;
}

.section-img-link-movie {
  display: flex;
  flex-direction: column;
}

.row-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items:  end;
  padding: 0 20px;
}

.ul-section {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  bottom: 5%;
  
}

/* .ul-section, ul, li {
  padding: 0 5px ;
} */
.movie-details-title {
  padding-bottom: 10px;
  font-weight: bold;
}
